**/eppy_adjusted_models
*.audit
*.bnd
*.eio
*.end
*.err
*.eso 
*.mdd
*.mtd
*.mtr
*.rdd
*.shd
eplusssz.csv
epluszsz.csv
*.rb
*.DS_Store
*.osm
**/measures
**/group_models
**/models
*.osw
*.skp
**/eppy_adjusted_models_2/**/eplusout.sql
**/opt_models/**/eplusout.sql
**/test_01
**/floor_b1
**/roof_2
**/roof_b1


**/__pycache__

**/.ipynb_checkpoints