**/eppy_adjusted_models
*.audit
*.bnd
*.eio
*.end
*.err
*.eso 
*.mdd
*.mtd
*.mtr
*.rdd
*.shd
eplusssz.csv
epluszsz.csv
*.rb
*.DS_Store
*.osm
**/measures
**/group_models
*.osw
*.skp
**/opt_models/**/eplusout.sql



**/__pycache__

**/.ipynb_checkpoints